<p id="notice"><%= notice %></p>

<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1> <%= @garden.name.capitalize %></h1>
  </div>
</div>

<!-- ALL plants from a specific garden -->
<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
    <div class="col-4">
    <div class="card mt-4" style="width: 18em">
      <%= image_tag plant.image_url,class: 'card-img-top img-size' %>
      <div class="card-body">
        <h5 class="card-title"><%= plant.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<%= link_to "Delete", plant_path(plant), method: :delete, data: {confirm: 'are you sure'}, class: 'btn btn-danger' %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>




<!-- FORM to add a plant to a garden -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for [@garden, @plant] do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
